<% page_title("login")%>
<div id="loginbox" class="container col-sm-4 col-sm-offset-4">
  <div class="login" class="container col-sm-6 col-sm-offset-3" align="center">
    <br />
    <%= image_tag "marcogalanti.jpg",:size => "70x70", :alt => "marcogalanti" , :id => "logo", :class => "img-rounded"%>
    <h3 align="center">MG Blog</h3>
    <h3 align="center">Registrazione nuovo utente</h3>

    <%= bootstrap_form_for(resource, :as => resource_name, :url => user_registration_path()) do |f| %>
      <%= devise_error_messages! %>
      <br />
      <div id="devise"><%= f.email_field :email, :autofocus => true, id: "devise_field", label: "Email" %></div>
      <div id="devise"><%= f.text_field :first_name, :autofocus => true, id: "devise_field", label: "First name" %></div>
      <div id="devise"><%= f.text_field :middle_name, :autofocus => true, id: "devise_field", label: "Middle name nome" %></div>
      <div id="devise"><%= f.text_field :last_name, :autofocus => true, id: "devise_field", label: "Last name" %></div>
      <div id="devise"><%#= f.select :group, :prompt=>"Select group" %></div>
      <div id="devise"><%= f.password_field :password, id: "devise_field" %></div>
      <div id="devise"><%= f.password_field :password_confirmation, id: "devise_field", label: "Password confirmation" %></div>
      <div id="devise"><%= f.attachment_field :profile_image, direct: true %></div>
      <div id="devise"><%= f.button  "Create", value: "Create account", class: "btn btn-success btn-block", id: "devise_button", label: "Create", method: 'post', data: {disable_with: "<i class='fa fa-spinner></i>Creating..."} %></div>
      <br/>
    <% end %>

    <%= render "devise/shared/links" %>
  </div> <!-- close login box -->
</div> <!-- close loginbox box -->
