<h3>Account list</h3>

<% @page_title="index" %>

<br/>

<table class="table table-sm table-striped table-bordered table-hover" id="table-form", style: "margin-left: 15px;">
  <thead class="thead-light">
    <tr>
      <th id="AdminTable"><%=sortable 'email','Email'%></th>
      <th><%=sortable 'last_name','Last Name'%></th>
      <th><%=sortable 'group','Group'%></th>
      <th><%=sortable 'admin','Admin?'%></th>
      <th><%=sortable 'action','Action'%></th>
    </tr>
  </thead>

  <tbody id="AdminTable">
    <%= will_paginate @users %>
    <% if @users %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email if user.email %></td>
          <td><%= user.full_name if user.full_name%></td>
          <td><%= user.group if user.group %></td>
          <% if user.group == "admin" %>
            <td><%= image_tag "true.png", size: "15x15", alt: "yes" %></td>
          <% else %>
            <td><%= image_tag "false.png", size: "15x15", alt: "no" %></td>
          <% end %>
          <td><%= link_to raw("<span class=\'glyphicon glyphicon-pencil\'"), edit_user_path(user), class: "btn btn-info btn-sm", "data-toggle": "tooltip",title: "Modifica utente #{user.email}","data-placement":"bottom" %></td>
        </tr>
      <% end %>
    <% else%>
      <p>no locations listed</p>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Aggiungi utente', '/users/new' , :class => 'btn btn-success', id: "button-form" if current_user.group == "admin"%>
<%= link_to 'Pagina iniziale', root_path , :class => 'btn btn-success', id: "button-form" %>
